@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* Intro */
.intro {
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: white;
}

.introLogo {
  margin: 0 auto;
  display: block;
  width: 50%;
  position: relative;
}

.versionTitle {
  margin: 0 auto;
  display: block;
  height: 35px;
  position: relative;
  top: 150px;
  image-rendering: crisp-edges;
}

.songTitle {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  top: 220px;
  height: 100px;
  font-family: "Nanum Pen Script", cursive;
  overflow: visible;
}

.songTitleText {
  fill: black;
  stroke: white;
  text-anchor: middle;
  font-size: 10rem;
  stroke-width: 20px;
  paint-order: stroke;
}

.veil {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 75%;
}

.titleImage {
  image-rendering: crisp-edges;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -2;
}

/* Pokemon Bar */
.pokemonBar {
  width: 100%;
  position: absolute;
  top: 1px;
}

.pokemonTrainer {
  position: relative;
  z-index: 1000;
}
