@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* Intro */
.intro {
  z-index: 5000;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* .introLogo {
  margin: 0 auto;
  display: block;
  width: 50%;
  position: relative;
} */

.introLogo {
  display: block;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.versionTitle {
  display: block;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* image-rendering: crisp-edges; /* not supported */
}

.songTitle {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  height: 100px;
  font-family: "Nanum Pen Script", cursive;
  overflow: visible;
}

.songTitleText {
  fill: black;
  stroke: white;
  text-anchor: middle;
  font-size: 10rem;
  stroke-width: 20px;
  paint-order: stroke;
}

.veil {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 75%;
}

.titleImage {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -2;
  /* image-rendering: crisp-edges; /* not supported */
}

/* Pokemon Bar */
.pokemonBar {
  width: 100%;
  position: absolute;
  top: 1px;
}

.pokemonTrainer {
  position: relative;
  z-index: 1000;
}
